<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Scheduler Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
